.container {
  display: flex;
  margin: 10px;
}

input:invalid {
  background-color: #ffdddd;
}
input:valid {
  background-color: #ddffdd;
}
input:required {
  border-color: #800000;
  border-width: 3px;
}